form label{
    font-weight: bold;

}

.table{
    table-layout: fixed;
    overflow: auto;

}
label {
    display: block;
    float: right;
    width: 40%;
}


div {
    color:white;
}

.table th{
    text-align: center;
    background-color: rgba(0,0,0,0.5)!important;
    color: white;
}

.table td{
    text-align: center;
    background: rgba(255,255,255,0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


